mixin project(index)
	- var project = portfolioList[index]
	section.mb-4.text-center
		h1.headline-1 #{project.title}
		p(class="headline-3 w-10/12 lg:w-8/12 mx-auto") !{project.description}
		div.my-8
			+picture(project.imagePath,project.heroName,['png'], "")
	section.my-4
		h2.headline-2.font-medium My Role
		ul.list-disc
			if project.role
				each role in project.role
					li.ml-8
						p !{role}
	section.my-4
		h2.headline-2.font-bold Tech Stack
		ul(class="tech-stack__list")
			if project.tech
				each stack in project.tech
					li(class="tech-stack__item")
						p !{stack}
	section.my-4
		h2.headline-2.font-bold About this project
		div
			if project.about
				each paragraph in project.about
					p(class="mb-4 last:mb-0") !{paragraph}
	if(project.moreDetails)
		each section in project.moreDetails
			section.my-4
				h2.headline-2.font-bold=section.sectionHeader
				div
					+picture(project.imagePath, section.sectionHeaderImageName,['png'], "")
					p(class="mb-4 last:mb-0") !{section.sectionDetails}
				if(section.projectStats)
					div.my-8
						+projectStats
